header{
    background-color: #0277bd;
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
    width: 100%;
    font-variant: small-caps;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

footer{
    background-color: #0277bd;
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: white;
    width: 100%;
    font-variant: small-caps;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

header h4, footer h4{
    display: inline-block;
}

.ini{
    float: right;
}

a{
    text-decoration: none;
    color: white;
}

header h4,footer h4{
    margin: 20px;
}

body{
    background-color: whitesmoke;
}

section{
    margin-top: 90px;
    margin-bottom: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #58a5f0;
}

section h2{
    text-align: center;
    color: #004c8c; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

section h3{
    color: #58a5f0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

section div{
    margin: 0px auto;
    width: 70%;
}

.asig a{
    text-align: center;
}

.ir{
    color: white;
    background-color: #0277bd;
    border-radius: 10px;
    width: 50px;
}
.asig a{
    float: right;
}
.asig *{
    display: inline-block;
}

hr{
    border-color: #4FC3F7;
    width: 70%;
}

.vl{
    float: right;
    border-left: 2px solid white;
    height: 60px;
}